<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/products"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information" class="active-menu"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Thông tin cửa hàng
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Thông tin cửa hàng </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <ul class="list">
                    <li>Họ tên</li>
                    <li>Số điện thoại</li>
                    <li>Địa chỉ</li>
                    <li>Email</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <ul class="list-info">
                    <li><input type="text" value="Minh Lợi"></input></li>
                    <li><input type="text" value="19001009"></input></li>
                    <li><input type="text" value="123456 Lê Hồng Phong"></input></li>
                    <li><input type="email" value="lienhe@gmail.com"></input></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <div class="avatar"><img src="images/bg-img.jpg" alt=""></div>
                <div class="name">MAL<i class="fa fa-pencil-square-o" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>