<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts" class="active-menu"><i class="fa fa-desktop"></i> Danh sách tài
                    khoản</a>
            </li>
            <li>
                <a href="/products"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách tài khoản
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách tài khoản </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>100</h3>
                                <small>Tổng số tài khoản</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>90</h3>
                                <small>Số tài khoản có thể hoạt động</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>10</h3>
                                <small>Số tài khoản đang bị khóa</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Danh sách
                        </div>

                        <div class="panel-body">
                            <div class="alert alert-success">
                                <div class="DSTK">
                                    <span class="space">Tên tài khoản: <strong>anhminh0401</strong></span>
                                    <span>Email: <strong>anhminh0401@abc.com</strong></span>
                                    <div class="btnDSTK">
                                        <button>xóa</button>
                                        <button>khóa</button>
                                        <button>mở</button>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success">
                                <div class="DSTK">
                                    <span class="space">Tên tài khoản: <strong>anhminh04</strong></span>
                                    <span>Email: <strong>abc@abc.com</strong></span>
                                    <div class="btnDSTK">
                                        <button>xóa</button>
                                        <button>khóa</button>
                                        <button>mở</button>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success">
                                <div class="DSTK">
                                    <span class="space">Tên tài khoản: <strong>anhminh0404</strong></span>
                                    <span>Email: <strong>haha@abc.com</strong></span>
                                    <div class="btnDSTK">
                                        <button>xóa</button>
                                        <button>khóa</button>
                                        <button>mở</button>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-danger">
                                <div class="DSTK">
                                    <span class="space">Tên tài khoản: <strong>anhminh0403</strong></span>
                                    <span>Email: <strong>khongco@abc.com</strong></span>
                                    <div class="btnDSTK">
                                        <button>xóa</button>
                                        <!-- <button>khóa</button> -->
                                        <button>mở</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>