<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài khoản</a>
            </li>
            <li>
                <a href="/products"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders" class="active-menu"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách đơn hàng
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách đơn hàng </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>10</h3>
                                <small>Tổng số đơn hàng trong tháng</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>4</h3>
                                <small>Số đơn hàng chưa giao</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>6</h3>
                                <small>Số đơn hàng đã giao</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Danh sách
                        </div>

                        <div class="panel-body">
                            <div class="alert alert-danger">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>anh minh </strong></span>
                                        <span class="space">Email: <strong>anhminh0401@abc.com</strong></span>
                                        <span class="space">SĐT: <strong>1921912912</strong> </span>
                                        <span class="space">Địa chỉ: <strong>123 Lê Hồng Phong</strong> </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Iphone 13</td>
                                                    <td>Apple</td>
                                                    <td>12</td>
                                                    <td>12000000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Samsung A12</td>
                                                    <td>Samsung</td>
                                                    <td>1</td>
                                                    <td>15000000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>250000000</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Chưa giao</strong>
                                        </span>
                                        <button>Cập nhật tình trạng đơn hàng</button>
                                        <button>Hủy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success">
                                <div class="order">
                                    <div>
                                        <span class="space">Tên: <strong>Văn Lợi </strong></span>
                                        <span class="space">Email: <strong>vanloi@abc.com</strong></span>
                                        <span class="space">SĐT: <strong>123123123</strong> </span>
                                        <span class="space">Địa chỉ: <strong>4345 Lê Hồng Phong</strong> </span>
                                        <div>
                                            <table class="table">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Hãng</th>
                                                    <th>Số lượng</th>
                                                    <th>Giá bán</th>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Iphone 13</td>
                                                    <td>Apple</td>
                                                    <td>12</td>
                                                    <td>12000000</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Samsung A12</td>
                                                    <td>Samsung</td>
                                                    <td>1</td>
                                                    <td>15000000</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="btnDSTK">
                                        <span class="space">Tổng tiền: <strong>250000000</strong> </span>
                                        <span class="space">Tình trạng đơn hàng: <strong>Đã hoàn thành </strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>