<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a href="/"><i class="fa fa-dashboard"></i> Bảng điều khiển</a>
            </li>
            <li>
                <a href="/accounts"><i class="fa fa-desktop"></i> Danh sách tài khoản</a>
            </li>
            <li>
                <a href="/products" class="active-menu"><i class="fa fa-desktop"></i> Danh sách sản phẩm</a>
            </li>
            <li>
                <a href="/orders"><i class="fa fa-desktop"></i> Danh sách đơn hàng</a>
            </li>
            <li>
                <a href="/information"><i class="fa fa-desktop"></i> Thông tin cửa hàng</a>
            </li>
        </ul>
    </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Danh sách sản phẩm
            <!-- <small>This is your UI elements section</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Danh sách sản phẩm </a></li>
            <li class="active">Dữ liệu</li>
        </ol>

    </div>
    <div id="page-inner">

        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <div class="number">
                            <h3>
                                <h3>4</h3>
                                <small>Tổng số sản phẩm</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button class="btnTSP">Thêm sản phẩm</button>
            </div>
        </div>
        <!-- <div id="page-inner"> -->

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <img src="images/iphone13.jpg" class="imageDSSP" alt="iphone">
                        <div class="inforSP">
                            <ul>
                                <li><strong>Iphone 13 </strong></li>
                                <li>Hãng: Apple</li>
                                <li>Số lượng: 12</li>
                                <li>Giá bán: 12000000</li>
                                <li>Giảm giá: 2%</li>
                            </ul>
                            <div class="btnSuaXoa">
                                <button class="btnSua">sửa</button>
                                <button class="btnXoa">xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <img src="images/samsung12.jpg" class="imageDSSP" alt="iphone">
                        <div class="inforSP">
                            <ul>
                                <li><strong>Samsung Galaxy A12 </strong></li>
                                <li>Hãng: Samsung</li>
                                <li>Số lượng: 10</li>
                                <li>Giá bán: 15000000</li>
                                <li>Giảm giá: 2%</li>
                            </ul>
                            <div class="btnSuaXoa">
                                <button class="btnSua">sửa</button>
                                <button class="btnXoa">xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="board">
                    <div class="panel panel-primary">
                        <img src="images/huawei.jpg" class="imageDSSP" alt="iphone">
                        <div class="inforSP">
                            <ul>
                                <li><strong>Huawei Nova 3i </strong></li>
                                <li>Hãng: Huawei</li>
                                <li>Số lượng: 15</li>
                                <li>Giá bán: 10000000</li>
                                <li>Giảm giá: 2%</li>
                            </ul>
                            <div class="btnSuaXoa">
                                <button class="btnSua">sửa</button>
                                <button class="btnXoa">xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="board">
                        <div class="panel panel-primary">
                            <img src="images/vivoy21.jpg" class="imageDSSP" alt="iphone">
                            <div class="inforSP">
                                <ul>
                                    <li><strong>vivo Y21</strong></li>
                                    <li>Hãng: vivo</li>
                                    <li>Số lượng: 25</li>
                                    <li>Giá bán: 20000000</li>
                                    <li>Giảm giá: 2%</li>
                                </ul>
                                <div class="btnSuaXoa">
                                    <button class="btnSua">sửa</button>
                                    <button class="btnXoa">xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>